article{
      display: flex;
      gap: 2rem;
      align-items: center;
      border-bottom: 0.2rem solid rgba(255, 255, 255, 0.8) ;
      }.imgCart{
               height: 15rem;
               width: 15rem;
            }div{

               }h3{

                  }.price{
                        font-size: 2rem;
                        }p{
                           font-size: 2rem;
                        }.cartButton{
                                    height: 2rem;
                                    width:0.5rem;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    text-align: center;
                                    border-radius: 100rem;
                                    }
